body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    background-color: #e9ecef;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    margin-top: 10px;
}


#savedNotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust this to change the spacing between the boxes */
    align-items: start;
}

.note {
    display: inline-block;
    margin: 10px; /* Add some margin around each box */
    background-color: yellowgreen;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Shadow effect */
    padding: 20px; /* Space around the content */
}
.note h3 {
    margin: 0;
}

.note pre {
    white-space: pre-wrap; /* Preserve spaces and line breaks */
    word-wrap: break-word; /* Allow long words to be able to break and wrap onto the next line */
}




#date_time {
    font-size: 14px; /* Increase the font size */
    color: #333; /* Darken the text color */
    margin: 0 auto; /* Center the element */
    text-align: right; /* Align the text to the center */
    font-family: 'Helvetica', 'Arial', sans-serif; /* Use a modern font */
    padding: 10px; /* Add some space around the text */
    background-color: #f9f9; /* Add a light background color */
    border-radius: 5px; /* Round the corners */
    max-width: 30%; /* Limit the width of the element */
    display: block; /* Make the element a block element */
}